.body {
  justify-content: center;
  text-align: center;
  margin: 5px auto;
}
.title {
  font-weight: 700;
  font-size: 40px;
}

.form {
  border: 1px solid;
  padding: 40px;
  margin:70px auto;
  width: 300px;
}
.form-input {
  font-size: 18px;
}
.form-input label{
    margin-right: 10px;
  }

.btn-book {
  padding: 15px 25px;
  border: none;
  background-color: #00ae48;
  color: #fff;
  width: 150px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
