.body {
  justify-content: center;
  text-align: center;
  margin: 5px auto;
}
.title {
  font-weight: 700;
  font-size: 40px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories a {
  margin: 15px auto;
  background-color: rgb(6, 62, 135);
  width: 100px;
  color: white;
  text-decoration: none;
  padding: 10px;
}
